.text-white {
    color: #fff !important;
}

.pagination .page-item.active .page-link {
    background-color: #495057;
    border-color: #495057;
}

.pagination .page-link {
    color: #fff;
    background-color: #343a40;
    border: 1px solid #495057;
}

.pagination .page-link:hover {
    color: #fff;
    background-color: #495057;
    border-color: #495057;
}

.thead > tr > :not(:last-child) {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}